*{
    margin:0px; border:0px; padding:0px;

}
li {
    list-style: none;
}
body, button, input, select, textarea {
    color: #555;
    font-size: 12px;
}
a:focus,a:active,textarea,input{outline:none;}
.Header .HeaderTop .Bulletin{float: left;width:27%;height: 50px;line-height: 50px;}

/*---Header第二版----*/
.Logo{ float:left; margin-top:3px}
.Header{ width:100%; background-color:#eee;}
.HeaderTop{ height:50px; background-color:#FFF}
.Header .HeaderTop .Bulletin{float: left;width:27%;height: 50px;line-height: 50px;}
.Logo{ float:left; margin-top:6px}
.righttoolbar ul{float: right; padding:0px; margin: 0;}
.righttoolbar ul li{margin: 0;padding:0;}
.righttoolbar ul li{float: left; font-size: 12px; margin-right:15px; line-height: 50px;}
.righttoolbar ul li a{color: #9b9b9b;text-decoration: none;}
.righttoolbar ul li a:hover{color: white;text-decoration: underline;}

.righttoolbar ul li.ricond{background:url(../img/homg_rigicon4.gif) no-repeat left center; padding-left:18px }
.righttoolbar ul li.riconf{background:url(../img/homg_rigicon6.gif) no-repeat left center; padding-left:18px }

.Header .HeaderTop ul li.ricona span{ color: #F00; font-weight: bold;}
.Menu{ height:37px; width:100%; background-color:#3484b8;}
.Menu ul{ margin: 0;padding:0;}
.Menu ul li{ margin: 0 10px;padding:0;}
.Menu ul li a {text-decoration: none;}
.Menu ul li a:hover {text-decoration: underline;}
.Menu>ul{ float:left; padding-left:15px;}
.Menu>ul>li{ float:left; background:url("../img/logo/menuDnArrow.gif") no-repeat scroll right center; padding: 0 20px 0 5px;position: relative;z-index:8888;}
.Menu>ul>li.Workbe{ background-position:57px center}
.Menu>ul>li:hover{ background-color: #2c6d97;}
.Menu>ul>li>a{ color:#FFF; font:14px/1.5 arial,Microsoft YaHei; line-height:37px;  float:left;}
.Menu>ul>li.Home{ margin-top:9px; background-image:none; padding-right:0px; padding-left:0px; margin-right:5px}
.Menu>ul>li.Home:hover{ background:none;}
.Header .Menu ul li ul { margin:0px;padding:0px;float:left; width:150px; border:1px #ccc solid; border-top:none; background:#fff; position:absolute; left:0px; top:36px; z-index:9999; display:none;border-bottom: #bbbbbb solid 3px;}
.Header .Menu ul li ul li { float:left; width:100%; border-bottom: 1px dotted #bbbbbb; margin: 0}
.Header .Menu ul li ul li a { float:left; width:84%; padding:3px 8%; font-size:12px; color:#666; line-height:22px;}
.Header .Menu ul li ul li a:hover { background:#e6e6e6;color:#3484b8;}
.Header .Menu ul li:hover ul { display:block;}
.nav li>a {
    font-size: 13px;
}
.content {
    height: 650px;

}
/*footer {

    width: 100%;

    position: fixed;

    bottom: 2px;
    z-index: 20;

}*/
.footer { float:left; width:100%; border-top: 1px solid #e5e5e5; text-align: center; margin-top: 50px; position: fixed}



/*new user css*/
.userheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.user {
    width: auto;
    margin-top: 80px;

}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.user .usermenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}

.user .userform {
    border: 1px solid grey;
    width: auto;


}
.user .usermenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.user .usermenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.menulist ul li {
    line-height: 35px;
    padding-left: 10px;
    font-size: 12px;

}
.menulist ul li a {
    text-decoration: none;
}
.menulist ul li:hover {
    background-color: #bbbbbb;
}
.userform .userBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 39px;
    line-height: 10px;


}
.userform .userBtn .save {
    width: 80px;
    margin-right: 10px;
}
.userform .userBtn .cancel {
    width: 80px;

}
.userforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}

/*new project css*/
.projectheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.project {
    width: auto;
    margin-top: 80px;

}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.project .projectmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}

.project .projectform {
    border: 1px solid grey;
    width: auto;


}
.project .projectmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.project .projectmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.menulist ul li {
    line-height: 35px;
    padding-left: 10px;
    font-size: 12px;

}
.menulist ul li a {
    text-decoration: none;
}
.menulist ul li:hover {
    background-color: #bbbbbb;
}
.projectform .projectBtn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;
}
.projectform .projectBtn .save {
    width: 80px;
    margin-right: 10px;
}
.projectform .projectBtn .cancel {
    width: 80px;

}
.projectforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}




.supplierheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.supplier {
    width: auto;
    margin-top: 80px;

}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.supplier .suppliermenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}

.supplier .supplierform {
    border: 1px solid grey;
    width: auto;


}
.supplier .suppliermenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.supplier .suppliermenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}


.supplierform .supplierBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.supplierform .supplierBtn .save {
    width: 80px;
    margin-right: 10px;
}
.supplierform .supplierBtn .cancel {
    width: 80px;

}
.supplierforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}








.editrelhead{background:#EDF3FE !important;line-height: 30px;height:30px;/* border-top:1px #ddd solid; margin-bottom:1px;padding:8px;*/padding-left: 10px;}
.DetailContentTable{border-collapse: collapse;}
.DetailContentTable tr td{height:30px;/*line-height:30px;*/border-bottom:1px solid #dedede;border-right:1px solid #dedede;/*border-top:1px solid #ddd;*/}

.DetailedTd1Label{ background-color: #fafafa !important; color: #333;}

.DetailedTd2Info{ color: black; padding-left: 10px; padding-right: 5px;}
.detailedViewTextBox {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*color: #000000;*/
    border:1px solid #bababa;
    width:90%;
    background-color:#ffffff;
}
.userforminput .table tr td {
    border: 1px solid grey;
}
.projectforminput .table tr td {
    border: 1px solid grey;
}
/*bootstrap table 下有空余;*/
.projectform .projectforminput .table {
    margin-bottom: 0;
}
.userform .userforminput .table {
    margin-bottom: 0;
}
.projectscheduleform .projectscheduleforminput .table {
    margin-bottom: 0;
}
.purchase_invoiceform .purchase_invoiceforminput .table {
    margin-bottom: 0;
}
 .receiptform .receiptforminput .table {
     margin-bottom: 0;
 }
.salesform .salesforminput .table {
    margin-bottom: 0;
}
.paymentform .paymentforminput .table {
    margin-bottom: 0;
}
.paymentplanform .paymentplanforminput .table {
    margin-bottom: 0;
}
.purchaseform .purchaseforminput .table {
     margin-bottom: 0;
 }
.supplierform .supplierforminput .table {
    margin-bottom: 0;
}
.contactorderform .contactorderforminput .table {
    margin-bottom: 0;
}




.supplierforminput .table tr td {
    border: 1px solid grey;
}

.detailedViewTextBoxOn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*color: #000000;*/
    border:1px solid #bababa;
    width:90%;
    background-color:#ffffdd;
}
.Button_check { padding:0px; margin:0px; border:0px; margin-left:5px;}
.Button_saveD,.Button_clearD,.Button_findD { float:left; padding:0px 5px; height:20px; color:#fff; overflow:hidden; /*line-height:20px;*/ border-radius:3px; cursor:pointer; font-size:12px;}
.Button_saveD,.Button_findD { background:#0070BA;}
.Button_clearD { background:#aaa;}
.Button_saveD:hover,.Button_findD:hover { background:#0082D9;}
.Button_clearD:hover { background:#bbb;}


/*customer detail css */

.userform .userDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.userform .userDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.userform .userDetailBtn button i {
    padding-right: 5px;

}

/*project detail css */

.projectform .projectDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.projectform .projectDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.projectform .projectDetailBtn button i {
    padding-right: 5px;

}

.supplierform .supplierDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.supplierform .supplierDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.supplierform .supplierDetailBtn button i {
    padding-right: 5px;

}

/*contract_order*/

.path {
    border-bottom: 1px solid grey;
    width: 100%;
    line-height: 10px;
    height: 40px;
}

.path p {
    padding: 15px 2px;
    font-weight: bold;

}
.path p i {
    color: #269abc;
}

/*purchase css*/
.purchaseheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.purchase {
    width: auto;
    margin-top: 80px;

}
.purchase .purchasemenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.purchase .purchaseform {
    border: 1px solid grey;
    width: auto;
}
.purchase .purchasemenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.purchase .purchasemenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.purchaseform .purchaseBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.purchaseform .purchaseBtn .save {
    width: 80px;
    margin-right: 10px;
}
.purchaseform .purchaseBtn .cancel {
    width: 80px;

}
.purchaseforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.purchaseforminput .table tr td {
    border: 1px solid grey;
}
.purchaseform .purchaseDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.purchaseform .purchaseDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.purchaseform .purchaseDetailBtn button i {
    padding-right: 5px;

}

.header {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.sales {
    width: auto;
    margin-top: 80px;

}
.sales .salesmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.sales .salesform {
    border: 1px solid grey;
    width: auto;


}
.sales .salesmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.sales .salesmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.salesform .salesBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 45px;
    line-height: 10px;
}
.salesform .salesBtn .save {
    width: 80px;
    margin-right: 10px;
}
.salesform .salesBtn .cancel {
    width: 80px;

}
.salesforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.salesforminput .table tr td {
    border: 1px solid grey;
}
.salesform .salesDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;
}
.salesform .salesDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.salesform .salesDetailBtn button i {
    padding-right: 5px;

}

.purchase_invoiceheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.purchase_invoice {
    width: auto;
    margin-top: 80px;

}
.purchase_invoice .purchase_invoicemenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.purchase_invoice .purchase_invoiceform {
    border: 1px solid grey;
    width: auto;


}
.purchase_invoice .purchase_invoicemenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.purchase_invoice .purchase_invoicemenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.purchase_invoiceform .purchase_invoiceBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.purchase_invoiceform .purchase_invoiceBtn .save {
    width: 80px;
    margin-right: 10px;
}
.purchase_invoiceform .purchase_invoiceBtn .cancel {
    width: 80px;

}
.purchase_invoiceforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.purchase_invoiceforminput .table tr td {
    border: 1px solid grey;
}
.purchase_invoiceform .purchase_invoiceDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.purchase_invoiceform .purchase_invoiceDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.purchase_invoiceform .purchase_invoiceDetailBtn button i {
    padding-right: 5px;

}

.receiptheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.receipt {
    width: auto;
    margin-top: 80px;

}
.receipt .receiptmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.receipt .receiptform {
    border: 1px solid grey;
    width: auto;


}
.receipt .receiptmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.receipt .receiptmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.receiptform .receiptBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.receiptform .receiptBtn .save {
    width: 80px;
    margin-right: 10px;
}
.receiptform .receiptBtn .cancel {
    width: 80px;

}
.receiptforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.receiptforminput .table tr td {
    border: 1px solid grey;
}
.receiptform .receiptDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.receiptform .receiptDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.receiptform .receiptDetailBtn button i {
    padding-right: 5px;

}

.paymentheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.payment {
    width: auto;
    margin-top: 80px;

}
.payment .paymentmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.payment .paymentform {
    border: 1px solid grey;
    width: auto;
}
.payment .paymentmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.payment .paymentmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.paymentform .paymentBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentform .paymentBtn .save {
    width: 80px;
    margin-right: 10px;
}
.paymentform .paymentBtn .cancel {
    width: 80px;

}
.paymentforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.paymentforminput .table tr td {
    border: 1px solid grey;
}
.paymentform .paymentDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentform .paymentDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.paymentform .paymentDetailBtn button i {
    padding-right: 5px;

}

.paymentplanheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.paymentplan {
    width: auto;
    margin-top: 80px;

}
.paymentplan .paymentplanmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.paymentplan .paymentplanform {
    border: 1px solid grey;
    width: auto;


}
.paymentplan .paymentplanmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.paymentplan .paymentplanmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.paymentplanform .paymentplanBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentplanform .paymentplanBtn .save {
    width: 80px;
    margin-right: 10px;
}
.paymentplanform .paymentplanBtn .cancel {
    width: 80px;

}
.paymentplanforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.paymentplanforminput .table tr td {
    border: 1px solid grey;
}
.paymentplanform .paymentplanDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentplanform .paymentplanDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.paymentplanform .paymentplanDetailBtn button i {
    padding-right: 5px;

}

.paymentheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.payment {
    width: auto;
    margin-top: 80px;

}
.payment .paymentmenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.payment .paymentform {
    border: 1px solid grey;
    width: auto;


}
.payment .paymentmenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.payment .paymentmenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.paymentform .paymentBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentform .paymentBtn .save {
    width: 80px;
    margin-right: 10px;
}
.paymentform .paymentBtn .cancel {
    width: 80px;

}
.paymentforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.paymentforminput .table tr td {
    border: 1px solid grey;
}
.paymentform .paymentDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.paymentform .paymentDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.paymentform .paymentDetailBtn button i {
    padding-right: 5px;

}

.projectscheduleheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.projectschedule {
    width: auto;
    margin-top: 80px;

}
.projectschedule .projectschedulemenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.projectschedule .projectscheduleform {
    border: 1px solid grey;
    width: auto;


}
.projectschedule .projectschedulemenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.projectschedule .projectschedulemenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.projectscheduleform .projectscheduleBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.projectscheduleform .projectscheduleBtn .save {
    width: 80px;
    margin-right: 10px;
}
.projectscheduleform .projectscheduleBtn .cancel {
    width: 80px;

}
.projectscheduleforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.projectscheduleforminput .table tr td {
    border: 1px solid grey;
}
.projectscheduleform .projectscheduleDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.projectscheduleform .projectscheduleDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.projectscheduleform .projectscheduleDetailBtn button i {
    padding-right: 5px;

}

.contactorderheader {
    margin-top: 50px;
    height: 20px;
    width: auto;
    background-color: grey;
}
.contactorder {
    width: auto;
    margin-top: 80px;

}
.contactorder .contactordermenu
{
    border: 1px solid grey;
    height: 300px;
    width: auto;

}
.contactorder .contactorderform {
    border: 1px solid grey;
    width: auto;


}
.contactorder .contactordermenu .title {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-bottom: 1px solid grey;
    padding: 12px 10px;
}

.contactorder .contactordermenu .info  {
    background-color: #e1edf7;
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.contactorderform .contactorderBtn {

    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.contactorderform .contactorderBtn .save {
    width: 80px;
    margin-right: 10px;
}
.contactorderform .contactorderBtn .cancel {
    width: 80px;

}
.contactorderforminput .row .col-md-12 {
    margin: 0;
    padding: 0;

}
.contactorderforminput .table tr td {
    border: 1px solid grey;
}
.contactorderform .contactorderDetailBtn {

    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    height: 45px;
    line-height: 10px;


}
.contactorderform .contactorderDetailBtn button {
    width: 100px;
    margin-right: 10px;
}

.contactorderform .contactorderDetailBtn button i {
    padding-right: 5px;

}


.footer{
    position: absolute;  bottom: 0;
    left:0;
    height: 40px;
}